body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


/* # Showcase background */

.showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    /* actual image is very bright hence using opacity to decrease brightness */
    opacity: 0.6;
    transition: all 1000ms;
}

.showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    /* actual image is very bright hence using opacity to decrease brightness */
    opacity: 0.6;
}

.showcase:hover .showcase__content {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}


/**
* # Showcase Content
*/

.showcase__content {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 50%;
    margin-top: 100px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.showcase__content--logo {
    height: 200px;
    width: 200px;
}


/* 16px = 1rem */

.showcase__content--title {
    font-size: 2rem;
    margin-top: 8px;
}

.showcase__content--description {
    line-height: 1rem;
    margin-top: 8px
}


/* # Container */

.container {
    max-width: 920px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}


/* # Grid */

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}


/* # Center */

.center {
    text-align: center;
    margin: auto;
}


/* Utilities class */

.bg-dark {
    background: #333;
    color: #f4f4f4
}

.bg-light {
    background: #f4f4f4;
    color: #333
}


/* # Footer */

footer p {
    margin: 0;
}

footer {
    padding: 2rem;
}


/* # for Smartphones */

@media (max-width: 560px) {
    .showcase::after {
        height: 50vh;
    }
    .showcase__content {
        top: 5%;
        margin-top: 5px;
    }
    .showcase__content--logo {
        height: 150px;
        width: 150px;
    }
    .showcase__content--description {
        display: none;
    }
    /* # Stacked each service */
    .grid-2,
    .grid-3 {
        grid-template-columns: 1fr;
    }
    .services div {
        border-bottom: #333 dashed 4px;
        padding: 1.2rem 1rem;
    }
}